<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Appster</title>
	<link rel="stylesheet" href="/css/application.css">

	<script type="text/javascript" src="/js/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="/src/sandbox.js"></script>
	<script type="text/javascript" src="/src/application.js"></script>
</head>
<body>
	<div id="page">
		<header class="page"></header>

		<div id="content">
			<section id="idea_list" class="module">Idea list</section>
			<section id="idea_details" class="module">
				Idea details
				<section id="idea_comments" class="module">
					Idea comments
				</section>
			</section>
		</div>

		<footer class="page"></footer>
	</div>

	<script>
	Application.init({
		debug: true
	});

	Application.load({
		'sandbox_query': 	'/src/plugins/sandbox.query.jquery.js',
		'sandbox_ajax': 	'/src/plugins/sandbox.ajax.jquery.js',

		'idea_list': 		'/module/session/section.idea_list.js',
		'idea_details': 	'/module/session/section.idea_details.js',
		'idea_comments': 	'/module/session/section.idea_comments.js',
		'session_start': 	'/module/session/start.js'
	});

	Application.run(function () {
		this.log('Running application...');
	});
	</script>
</body>
</html>